.image{
    content: url("/resources/images/logo.png");
    width:300px; /*width of your image*/
    height:100px;
    margin-left: -40px;
    display: flex;
}

#header {
    background: var(--bar-bg);
    padding: 0px 40px 75px;
}



/* change primefaces menubar*/

.ui-menubar,.ui-menu{
    margin-top: 100px;
    background: var(--bar-bg);
    border: 0 !important;
}


.ui-menuitem-text{
    color: var(--primary-fg);
    padding-bottom: 30px;
    font-size: large;
    font-weight: bold;
    /* line-height: 40px statt padding-bottom wenn submenü punkt geändert werden kann;*/
}

.ui-menu-child {
    white-space: nowrap;
    width: 200px !important;
    background: var(--bar-bg) !important;
    border: 0 !important;
}


#page *:not(.ui-icon):not(#content),
.ui-widget-content .ui-state-default {
}