
/* outermoast panel layout */

.ui-panel {
    padding: 0;
    background: transparent;
    margin-bottom: 50px;
}

.ui-panel .ui-panel-titlebar {
    padding: 0;
    background: transparent;
    margin-bottom: 30px;
}

.ui-panel-title {
    color: var(--bar-bg);
    font-size: 50px;
}




/* datatable layout */

.ui-widget.ui-datatable table {
    width: 100%;
    table-layout: auto;
}

.ui-widget.ui-datatable thead th {
    background: var(--secondary-bg);
    box-sizing: border-box;
    height: 40px;
    vertical-align: after-edge;
    text-align: left;
    padding-left: 10px;
    color: var(--primary-fg);
    font-weight: bolder;
}


.ui-widget.ui-datatable tbody td:not(.noindent){
    padding-left: 16px;
}

.ui-button-icon-only {
    height: 100%;
    margin: 0;
}

#selection{
    margin-bottom: 20px;
}

.addButton{
    background: var(--primary-bg);
    color: var(--primary-fg);
}

/* for some space when scrolling to the bottom */
#aircraftForm, #userForm, #flightForm {
    margin-bottom: 60px;
}


